.header {
    display: flex;
    justify-content: space-between;
    background-color: #27374D;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.my-name {
    padding-left: 50px;
}

.right-buttons {
    display: flex;
    padding-right: 50px;
}

.right-buttons a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}